html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
  background-color: white;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  background-image: url('images/racing2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.container {
  padding: 20px 0px 20px;
}

.race-track {
  position: relative;
  width: 90%;
  height: 400px;
  background-color: #555;
  border-bottom: 5px solid rgb(255, 255, 255);
  border-top: 5px solid rgb(255, 255, 255);
  overflow: hidden;
}

.text-title {
  font-size: 35px;
  color: burlywood;
  font-weight: 600;
  font-style: italic;
  font-family: fangsong;
}

.controls {
margin-top: 20px;
}

.start-line, .finish-line {
  position: absolute;
  width: 50px; /* Chỉnh chiều rộng của vùng chứa logo */
  height: 100%; /* Chỉnh chiều cao của vùng chứa logo */
  display: flex;
  justify-content: center; /* Căn giữa logo theo chiều ngang */
  align-items: center; /* Căn giữa logo theo chiều dọc */
}

.start-line {
  top: 0;
  left: 0;
  justify-content: center; /* Căn chỉnh logo start ở giữa */
}

.finish-line {
  bottom: 0;
  right: 0;
  justify-content: center; /* Căn chỉnh logo finish ở giữa */
}

.start-logo, .finish-logo {
  width: auto; /* Adjust the width */
  height: 410px;
  transform: rotate(90deg); /* Rotate the logo */
}

.start-logo.hidden {
  opacity: 0;
}

.finish-logo.visible {
  opacity: 1;
}

.road-line {
  position: absolute;
  width: 200%;
  height: 5px;
  background: repeating-linear-gradient(90deg, white, white 10px, transparent 10px, transparent 20px);
  top: 50%;
  transform: translateY(-50%);
}

.road-line.active {
  animation: moveRoad 1s linear infinite;
}

.duck-container {
  position: absolute;
  left: 0;
  width: 60px;
  text-align: center;
}

.duck {
  font-size: 30px;
  transform: scaleX(1); /* Quay sang phải */
}

.duck-name {
  margin-bottom: 3px; /* Tạo khoảng cách giữa tên và con vịt */
  font-weight: bold;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 10px;
  width: 80%; /* Increase the width to accommodate more inputs */
  max-width: 600px; /* Set a maximum width */
  box-sizing: border-box;
}

.modal.active {
  display: block;
}

.race-container {
  display: flex;
  justify-content: center;
  margin-top  : 20px;
  align-items: center;
}

body.flash-bg {
  animation: flash 0.2s infinite alternate;
}

#nameInputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.input-number {
  border-radius: 5px;
  border: 2px solid rgb(4, 4, 209);
  padding: 10px;
  font-size: 16px;
  width: calc(100% - 24px); /* Adjust width to account for padding and border */
  box-sizing: border-box;
  margin-bottom: 10px;
}

.items-number input {
  border-radius: 5px;
  border: 2px solid rgb(4, 4, 209);
  padding: 0px;
  font-size: 13px;
  width: calc(100% - 24px);
  box-sizing: border-box;
}

.items-number {
  margin: 20px 0px 20px 0px;
}

/* .button {
  width: 20%;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #00bfff;
  border: none;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
} */

.button {
  width: 20%;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #00bfff;
  border: none;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: #009acd;
}

.button:active {
  background-color: #009acd;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button .arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  transition: transform 0.3s;
}

.button:hover .arrow {
  transform: translateY(-50%) translateX(5px);
}

.button-start {
  width: auto;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #00ff40;
  border: none;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, transform 0.3s;
}

.button-reset {
  width: auto;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ff5100;
  border: none;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, transform 0.3s;
}

@keyframes moveRoad {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
